input, input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
textarea, 
select {
    padding: 5px 18px;
    min-height: 32px;
}
.sidebar-btn{ display:none !important; }
.sidebar-contact { width: 100% !important; }
.table-n td { border-top: none !important; vertical-align: middle !important; }
.example:first-child .btn-delete { display: none; }
.add-more { width: 200px; }