
body {
    background-color: #f8f8f8;
}

body.auth {
    background-color: #fff;
    border-top: 5px solid #1c8966;
}

.has-error label a {
    color: #a94442;
    font-weight: bold;
}

/* --------------------------------------------------
:: Popover
-------------------------------------------------- */

.popover {
    max-width: 350px;
}

/* --------------------------------------------------
:: Login Section
-------------------------------------------------- */
.auth-form {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    background-color: #fff;
}

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
.auth-form h1 {
    color: #1fa67b;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.auth-form .form-group {
    margin-bottom: 25px;
}

.auth-form .form-group:last-child {
    margin-bottom: 0;
}

.auth-form .form-group.has-error {
    margin-bottom: 10px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.checkbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
.checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
.checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    text-align: center;
    display: block;
}

.btn .fa-spinner {
    margin-right: 4px;
}

@media (max-width: 991px) {
    .row .col-spaced {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .auth-form {
        margin-top: 30px;
    }
}


/* --------------------------------------------------
:: Inputs & Buttons
-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    background-color: #1D8967;
    color: #fff;
}

.form-wrap {
    border: 1px solid #dfdfdf;
    margin-bottom: 8px;
    padding: 30px 35px;
    border-radius: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.divider-wrapper {
    position: relative;
}

.or-divider {
    margin: 25px 0;
}

.or-divider:before {
    content: 'OR';
    position: absolute;
    bottom: -15px;
    left: 44%;
    padding: 5px 10px;
    font-size: 16px;
    color: #ccc;
    background-color: #fff;
}

.password-field {
    position: relative;
}

.password-field .forgot {
    position: absolute;
    right: 14px;
    top: 7px;
    color: #909090;
}

/* --------------------------------------------------
:: Footer
-------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

/*--------------------------------------------------
:: Checkboxes
-------------------------------------------------- */
div.checkbox {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0;
    display: inline-block;
}
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.checkbox label.no-content {
   cursor: default;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    width: 15px;
    height: 15px;
    margin-top: 2px;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.radio {
    padding-left: 20px;
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
}
.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}
.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}
input[type="checkbox"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before {
    color: #fff;
}
input[type="checkbox"] .styled:checked + label::after {
    color: #fff;
}

.input-icon > [class*="fa-"], 
.input-icon > [class*="glyphicon-"] {
      position: absolute;
      padding: 10px 0 10px 12px;
      color: #666;
}
.input-icon input {
    padding-left: 30px;
}
.input-icon > input:focus + [class*="fa-"], 
.input-icon > input:focus + [class*="glyphicon-"] {
    color: #557799;
}

/* --------------------------------------------------
:: Page Wrapper
-------------------------------------------------- */

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 220px;
        padding: 50px 30px 0 20px;
        border-left: 1px solid #e7e7e7;
    }
}

/* --------------------------------------------------
:: Sidebar
-------------------------------------------------- */

.navbar-brand {
    width: 221px;
    border-right: 1px solid #dfdfdf;
}

body.sidebar-collapse .sidebar {
    margin-left: -220px;
}

body.sidebar-collapse #page-wrapper {
    margin-left: 0px;
}

.sidebar, #page-wrapper, .panel-widget .panel-heading {
    transition: all 0.4s ease 0s;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-avatar {
    padding: 15px;
    text-align: center;
}

.sidebar .sidebar-avatar .name {
    margin-top: 10px;
    color: #555555;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar li.active.open > a:first-child {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

#user-nav a {
    padding-bottom: 5px;
    padding-top: 5px;
}

#user-nav .nav-avatar {
    float: none;
    width: 35px;
    margin-right: 10px;
}

#sidebar-toggle {
    float: left;
    padding: 18px 15px 13px 15px;
}

#sidebar-toggle i {
    font-size: 16px;
    color: #888;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
}

.navbar-brand img {
    margin-left: 25px;
}

@media (max-width: 767px) {
    .sidebar-open #page-wrapper {
        -webkit-transform: translate(220px, 0);
        -ms-transform: translate(220px, 0);
        -o-transform: translate(220px, 0);
        transform: translate(220px, 0);
    }

    body.sidebar-open {
        overflow-x: hidden;
    }

    .navbar-brand {
        width: 100%;
        border-right: none;
    }

    .navbar-brand img {
        margin: 0 auto;
    }

    .sidebar {
        -webkit-transform: translate(-220px, 0);
        -ms-transform: translate(-220px, 0);
        -o-transform: translate(-220px, 0);
        transform: translate(-220px, 0);
        margin-top: 104px !important;
    }

    .sidebar-open .sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.sidebar {
    z-index: 1;
    position: absolute;
    width: 220px;
    padding-top: 51px;
    bottom: 0;
    top: 0;
    left: 0;
    min-height: 100%;
}


/* --------------------------------------------------
:: Header Dropdown Menu
-------------------------------------------------- */

.dropdown-menu.extended li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #EBEBEB !important;
    font-size: 12px;
    list-style: none;
}

.dropdown-menu.inbox li a .photo img {
    float: left;
    height: 50px;
    margin-right: 4px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

.dropdown-menu.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 11px;
}


.dropdown-menu.extended li p {
    background-color: #F1F2F7;
    color: #666666;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.dropdown-menu.extended {
    width: 260px;
    padding-top: 0;
    padding-bottom: 0;
}

.header-nav .dropdown-toggle {
    padding-top: 12px;
    padding-bottom: 5px;
}

.header-nav i {
    font-size: 26px;
}

.header-nav .badge {
    position: absolute;
    top: 5px;
    right: 5px;
}

.header-nav .badge.bg-green {
    background-color: #1fa67b;
}

.header-nav .badge.bg-orange {
    background-color: #ff5b57;
}

.dropdown-toggle.avatar {
    padding-top: 5px;
    padding-bottom: 3px;
}

.dropdown-toggle.avatar img {
    width: 40px;
    margin-right: 4px;
}

/* --------------------------------------------------
:: Page Header & Breadcrumbs
-------------------------------------------------- */

.page-header {
    margin: 30px 0 20px;
}

.page-header small {
    font-size: 50%;
}

.breadcrumb {
    padding: 10px 0 0 0;
    list-style: none;
    font-size: 14px;
    background-color: inherit;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .page-header {
        word-break: break-all;
    }
    .breadcrumb {
        margin: 10px 0;
    }
}

/* --------------------------------------------------
:: Dashboard Widget Panels
-------------------------------------------------- */

.panel-widget .title {
    text-transform: uppercase;
}

.panel-widget .text-huge {
    font-size: 36px;
}

.panel-widget .icon {
    position: absolute;
    right: 20px;
}

.panel-green {
    background-color: #1fa67b;
    color: #fff;
}

.panel-purple {
    background-color: #727cb6;
    color: #fff;
}

.list-group-item img.img-circle {
    height: 30px;
}

a.panel-link:hover {
    text-decoration: none;
}

.dashboard-panel {
    color: #444;
}

.dashboard-panel:hover {
    text-decoration: none;
}

.dashboard-panel .icon {
    text-align: center;
    font-size: 36px;
}

.dashboard-panel .lead {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.dashboard-panel:hover {
    color: #337ab7;
    background-color: #fbfbfb;
}

.list-group-item .list-time {
    position: absolute;
    top: 2px;
    right: 15px;
}

/* --------------------------------------------------
:: Tabs
-------------------------------------------------- */

.tab-pane {
    padding-top: 20px;
}

.tab-search {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.top-border-table {
    border-top: 1px solid #e7e7e7;
    padding-top: 5px;
}

@media (max-width: 992px) {
    .col-md-1, .col-md-2,
    .col-md-3, .col-md-4,
    .col-md-5, .col-md-6,
    .col-md-7, .col-md-8,
    .col-md-9, .col-md-10,
    .col-md-11, .col-md-12 {
        padding-bottom: 5px;
    }
}

@media (min-width: 1500px) {
   .col-md-2 .btn-block {
       max-width: 170px;
   }    
}

/* --------------------------------------------------
:: User Profile Panel
-------------------------------------------------- */

.panel-profile {
    text-align: center;
}
.panel-profile .image img {
    width: 100px;
    border: 1px solid #dfdfdf;
}
.panel-profile .name {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
.panel-profile .icons {
    margin-top: 20px;
}

.panel-profile .icons .btn {
    margin-right: 8px;
}

.panel-profile table {
    text-align: left;
}

.table-details tr td:last-child {
    word-break: break-all;
}

.table.user-activity {
    margin-bottom: 0;
}

@media(min-width:991px) {
    .avatar-wrapper .avatar-preview {
        margin-top: 55px;
        margin-bottom: 80px;
    }
}

@media(max-width:991px) {
    .avatar-wrapper .avatar-preview {
        margin-bottom: 20px;
    }
}

/* --------------------------------------------------
:: Social Buttons
-------------------------------------------------- */

.btn-dribbble {
    color: #fff;
    background-color: #EA73A0;
    border-color: #EA73A0;
}

.btn-dribbble:hover {
    color: #fff;
    text-decoration: none;
    background-color: #e55088;
    border-color: #e23e7c;
}

.btn-skype {
    font-size: 32px;
    padding: 0;
}

/* --------------------------------------------------
:: Edit User Profile Page Elements
-------------------------------------------------- */

.avatar-wrapper {
    text-align: center;
}
.avatar-preview {
    width: 160px;
    height: 160px;
}
.btn-avatar {
    padding: 10px 0;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
    transition: all 0.5s ease 0s;
}
.btn-avatar:hover {
    background-color: #000;
    border-color: #000;
    opacity: 0.8;
    color: #fff;
    cursor: pointer;
}
.btn-upload {
    width: 120px;
    height: 120px;
    padding: 6px 0;
    border-radius: 50%;
    text-align: center;
    line-height: 1.428571429;
    font-size: 65px;
    color: #ccc;
}
.avatar-source {
    text-align: center;
}
.avatar-source img {
    width: 120px;
}
.avatar-source img:hover,
.avatar-source div:hover {
    background-color: #fff;
    border: 2px solid #555;
    cursor: pointer;
}
.avatar-source p {
    margin: 5px 0 0 0;
    font-weight: bold;
}

.avatar-controls {
    display: none;
}

.btn-upload {
    position: relative;
    overflow: hidden;
}

.btn-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#avatar.croppie-container {
    padding: 35px 30px 30px;
}

.spinner {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.spinner > .spinner-dot:nth-child(1) {
    -webkit-animation-delay: -.32s;
    -moz-animation-delay: -.32s;
    -o-animation-delay: -.32s;
    -ms-animation-delay: -.32s;
    animation-delay: -.32s;
}

.spinner > .spinner-dot:nth-child(2) {
    -webkit-animation-delay: -.16s;
    -moz-animation-delay: -.16s;
    -o-animation-delay: -.16s;
    -ms-animation-delay: -.16s;
    animation-delay: -.16s;
}

.spinner > .spinner-dot {
    width: 15px;
    height: 15px;
    background: #333;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    -webkit-animation: bounce 1.4s infinite ease-in-out;
    -moz-animation: bounce 1.4s infinite ease-in-out;
    -o-animation: bounce 1.4s infinite ease-in-out;
    -ms-animation: bounce 1.4s infinite ease-in-out;
    animation: bounce 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-moz-keyframes bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}@-webkit-keyframes bounce {
     0%, 80%, 100% {
         -webkit-transform: scale(0);
         -moz-transform: scale(0);
         -o-transform: scale(0);
         -ms-transform: scale(0);
         transform: scale(0);
     }
     40% {
         -webkit-transform: scale(1);
         -moz-transform: scale(1);
         -o-transform: scale(1);
         -ms-transform: scale(1);
         transform: scale(1);
     }
 }@-o-keyframes bounce {
      0%, 80%, 100% {
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -o-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
      }
      40% {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -o-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
      }
  }@keyframes bounce {
       0%, 80%, 100% {
           -webkit-transform: scale(0);
           -moz-transform: scale(0);
           -o-transform: scale(0);
           -ms-transform: scale(0);
           transform: scale(0);
       }
       40% {
           -webkit-transform: scale(1);
           -moz-transform: scale(1);
           -o-transform: scale(1);
           -ms-transform: scale(1);
           transform: scale(1);
       }
   }


/* Custom Pagination */

.pagination-lg.pagination-custom > li > a,
.pagination-lg.pagination-custom > li > span {
    padding: 9px 15px;
    font-size: 14px;
}

/* --------------------------------------------------
:: Bootstrap Switch
-------------------------------------------------- */

.form-group .bootstrap-switch-small {
    margin-top: 5px;
}

.status_quote{
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    margin: 0 auto;
}

.status_quote_new{
    background: blue;
}
.status_quote_seen{
    background: green;
}
.status_options {
    list-style: none;
    margin: 0;
}
.status_options li {
    display: inline-block;
    margin: 5px;
    text-align: center;
    font-weight: bold;

}